# Base
DATA_DIR=./data
SECRETS_DIR=./secrets
INIT_SCRIPTS_DIR=./init-scripts

NODE_ENV=development


# Database
MONGO_DIR_PREFIX='mongo'
MONGO_DATA_DIR=${DATA_DIR}/${MONGO_DIR_PREFIX}
MONGO_SECRETS_DIR=${SECRETS_DIR}/${MONGO_DIR_PREFIX}
MONGO_INITDB_SCRIPTS_DIR=${INIT_SCRIPTS_DIR}/${MONGO_DIR_PREFIX}

MONGO_HOST=0.0.0.0
MONGO_PORT=27017
MONGO_USER='admin'
MONGO_PASSWORD='password123'
MONGO_AUTH_SOURCE='admin'
MONGO_AUTH_MECHANISM='SCRAM-SHA-256'
MONGO_SERVICE_DB='argon'
MONGO_SERVICE_DB_MIN_POOL_SIZE=1
MONGO_SERVICE_DB_MAX_POOL_SIZE=10
MONGO_USER_CONTENT_DB='user_content'
MONGO_USER_CONTENT_DB_MIN_POOL_SIZE=1
MONGO_USER_CONTENT_DB_MAX_POOL_SIZE=1000
MONGO_SELECTION_TIMEOUT_MS=30000


# Backend / Web API
API_DIR_PREFIX='api'
API_DATA_DIR=${DATA_DIR}/${API_DIR_PREFIX}
API_SECRETS_DIR=${SECRETS_DIR}/${API_DIR_PREFIX}

API_HOST=0.0.0.0
API_PORT=9000
API_VERSION=v1
API_BACKLOG=10000
API_SALT_ROUNDS=14
API_ACCESS_JWT_EXPIRY=999999999
API_REFRESH_JWT_EXPIRY=999999999
API_ACCESS_JWT_SECRET='test_access_secret_key'
API_REFRESH_JWT_SECRET='test_refresh_secret_key'
