<h2 class="text-2xl font-bold text-light-0 ml-3 mb-5">Invites</h2>
<div class="rounded-lg p-4 shadow-xs/10 shadow-surface-0 bg-surface-10 text-light-0 mb-5">
  <h3 class="text-xl font-bold text-light-0 ml-3 mb-5">Outgoing</h3>
  <div class="flex">
    @if (inviteService.isLoading() !== null && inviteService.isLoading()) {
      <p>Loading invites...</p>
    } @else {
      @if (outgoingInvites()?.length === 0) {
        <div class="flex flex-col flex-1">
          <p class="text-l text-light-0">You have no more outgoing invites to manage :)</p>
        </div>
      } @else if (outgoingInvites(); as invites) {
        <div class="overflow-x-auto inset-shadow-md shadow-surface-10 shadow-xl">
          <table class="table-auto overflow-scroll table-auto w-auto border-separate border-spacing-2 text-nowrap">
            <thead class="justify-start text-primary-0 border-b border-light-0">
              <tr>
                <th class="border-b">Action</th>
                <th class="border-b">Name</th>
                <th class="border-b">ID</th>
                <th class="border-b">Project name</th>
                <th class="border-b">Invitant name</th>
                <th class="border-b">Description</th>
                <th class="border-b">Creation</th>
              </tr>
            </thead>
            <tbody>
              @for (invite of invites; track invite._id) {
                <tr app-invite-entry
                [invite]="invite"
                [isOutgoing]="true"
                (cancelEvent)="onCancelEvent($event)"
                class="text-sm"
                >
                </tr>
              }
            </tbody>
          </table>
        </div>
      }
    }
  </div>
</div>
<div class="rounded-lg p-4 shadow-xs/10 shadow-surface-0 bg-surface-10 text-light-0 ">
  <h3 class="text-xl font-bold text-light-0 ml-3 mb-5">Incoming</h3>
  <div class="flex">
    @if (inviteService.isLoading() !== null && inviteService.isLoading()) {
      <p>Loading invites...</p>
    } @else {
      @if (incomingInvites()?.length === 0) {
        <div class="flex flex-col flex-1">
          <p class="text-l text-light-0">You have no incoming invites to display :(</p>
        </div>
      } @else if (incomingInvites(); as invites) {
        <div class="overflow-x-auto inset-shadow-md shadow-surface-10 shadow-xl">
          <table class="table-auto overflow-scroll table-auto w-auto border-separate border-spacing-2 text-nowrap">
            <thead class="justify-start text-primary-0 border-b border-light-0">
              <tr>
                <th class="border-b">Action</th>
                <th class="border-b">Name</th>
                <th class="border-b">ID</th>
                <th class="border-b">Project name</th>
                <th class="border-b">Invitant name</th>
                <th class="border-b">Description</th>
                <th class="border-b">Creation</th>
              </tr>
            </thead>
            <tbody>
              @for (invite of invites; track invite._id) {
                <tr app-invite-entry
                [invite]="invite"
                [isOutgoing]="false"
                (acceptRejectEvent)="onAcceptRejectEvent($event)"
                class="text-sm"
                >
                </tr>
              }
            </tbody>
          </table>
        </div>
      }
    }
  </div>
</div>
