<nav class="bg-surface-10 shadow-md/20 shadow-surface-10">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3 px-5">
    <span class="self-center whitespace-nowrap text-3xl text-heading font-black text-primary-0">
      Argon
    </span>
    <div class="md:block md:w-auto text-primary-20">
      <ul class="flex flex-col md:flex-row items-center md:space-x-10 font-xl font-medium">
        @if (authService.isAuthenticated()) {
          <li>
            <a routerLink="/projects" routerLinkActive="active" class="hover:text-primary-0 py-1 px-2 text-heading">Projects</a>
          </li>
          <li>
            <a routerLink="/profile" routerLinkActive="active" class="hover:text-primary-0 py-1 px-2 text-heading">Profile</a>
          </li>
          <li>
            <button
              type="button"
              (click)="onLogout()"
              class="w-full bg-danger-10 hover:bg-danger-0 text-dark-0 hover:text-surface-10 font-bold py-1 px-4 rounded-md transition duration-200 cursor-pointer"
            >
              Logout
            </button>
          </li>
        } @else {
          <li>
            <a routerLink="/login" routerLinkActive="active" class="hover:text-primary-0 py-1 px-2 text-heading">Login</a>
          </li>
          <li>
            <a routerLink="/register" routerLinkActive="active" class="hover:text-primary-0 py-1 px-2 text-heading">Register</a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
