<div class="min-h-screen bg-surface-0 flex items-center justify-center p-4">
  <div class="bg-surface-20 p-8 rounded-lg shadow-xl/20 shadow-surface-10 w-full max-w-md">
    <h2 class="text-3xl font-bold text-center text-primary-20 mb-6">Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4 text-light-0">
      <div>
        <label for="email" class="block text-sm font-medium mb-1">Email*</label>
        <input
          type="email"
          id="email"
          name="email"
          class="w-full px-3 py-2 border border-surface-40 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-primary-30 focus:border-primary-20"
          formControlName="email"
          autocomplete="email"
          email
          placeholder="john.doe@example.com"
        />
        @if (loginForm.invalid && (loginForm.dirty || loginForm.touched)) {
          <div class="text-danger-10 text-sm mt-1">
            @if (loginForm.get('email')?.errors?.['required']) {
              <small>Email is required.</small>
            }
            @if (loginForm.get('email')?.errors?.['email']) {
              <small>Please enter a valid email address.</small>
            }
          </div>
        }
      </div>

      <div>
        <label for="password" class="block text-sm font-medium mb-1">Password*</label>
        <input
          type="password"
          id="password"
          name="password"
          class="w-full px-3 py-2 border border-surface-40 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-primary-30 focus:border-primary-20"
          formControlName="password"
          autocomplete="current-password"
          placeholder="********"
        />
        @if (loginForm.invalid && (loginForm.dirty || loginForm.touched)) {
          <div class="text-danger-10 text-sm mt-1">
            @if (loginForm.get('password')?.errors?.['required']) {
              <small>Password is required.</small>
            }
          </div>
        }
      </div>
        <button
          type="submit"
          class="w-full bg-primary-20 hover:bg-primary-0 text-light-0 font-bold py-2 px-4 rounded-md transition duration-200 disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
    </form>

    <p class="mt-6 text-center text-light-0">
      Don't have an account?
      <u>
        <a routerLink="/register" routerLinkActive="active" class="text-primary-20 hover:text-primary-0 font-medium cursor-pointer">
          Register
        </a>
      </u>
    </p>
  </div>
</div>
